@import url(http://fonts.googleapis.com/css?family=Rokkitt:700|Titillium+Web:300);

* {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  background: url(../images/bg/bg-main.jpg) 0 0 #f0f0f0;
  font-family: 'Titillium Web', serif;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: font-size 1s ease;
  -moz-transition: font-size 1s ease;
  -o-transition: font-size 1s ease;
  transition: font-size 1s ease;
  position: relative;
}

/*
|--------------------------------------------------------------------------
| Headings
|--------------------------------------------------------------------------
*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Rokkitt', serif;
}
h1 {
  font-size: 60px;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
}
h2 {
  color: #25333b;
  font-size: 48px;
  text-shadow: 1px 1px 0 #fff;
  padding: 1px 0;
}

/*
|--------------------------------------------------------------------------
| Containers
|--------------------------------------------------------------------------
*/
.projects {
  position: relative;
  padding-top: 220px;
}

@media (min-width: 992px) {
  .col-md-8 {
    float: none;
    margin: 0 auto;
  }
}

/*
|--------------------------------------------------------------------------
| Branding
|--------------------------------------------------------------------------
*/
header {
  background: url(../images/bg/bg-header.jpg) 0 0 #041a2e repeat-x;
  height: 475px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 0 #000;

}

.logo {
  margin: 0 auto;
  position: relative;
  background: url(../images/monogram-schmidtg.png) 0 0 transparent;
  width: 130px;
  height: 129px;
  text-align: center;
}

header p {
  margin: 0 auto;
  max-width: 500px;
  font-size: 22px;
  line-height: 1;
}

.profile {
  margin: 0 auto;
  margin-top: 50px;
  width: 185px;
  height: 185px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  background: url(../images/graham-schmidt-software-engineer.jpg) -3px -2px no-repeat;
  border: 3px solid white;
}

/*
|--------------------------------------------------------------------------
| Navigation
|--------------------------------------------------------------------------
*/

.navbar .nav {
  margin: 0 auto;
  max-width: 400px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 16px 0 0 0;
  display: inline-block;
  float: none;
}

.navbar .nav > li > a {
  color: #dc5729;
  text-shadow: none;
}

.navbar .nav > li > a:hover {
  color: white;
}

.top-header {
  background-color: black;
  border-bottom: 1px solid #4B1B0A;
}

/*
|--------------------------------------------------------------------------
| Links
|--------------------------------------------------------------------------
*/
a:link {
  color: #dc5729;
}
a:visited {
  color: #dc5729;
}
a:hover: {
  text-decoration: none;
}
h2 a:link,
h2 a:active,
h2 a:visited {
  color: #25333b;
  text-decoration: none;
  border-bottom: 1px dashed #25333b;
}
h2 a:hover {
  border: none;
}


/*
|--------------------------------------------------------------------------
| Effects
|--------------------------------------------------------------------------
*/
.shadow {
  -webkit-box-shadow : 0px 0px 100px -10px rgb(22, 25, 46);
  -moz-box-shadow  : 0px 0px 100px -10px rgb(22, 25, 46);
  box-shadow     : 0px 0px 100px -10px rgb(22, 25, 46);
}

/*
|--------------------------------------------------------------------------
| Carousel
|--------------------------------------------------------------------------
*/
.item {
  text-align: center;
}
.item img {
  margin: 0 auto;
}
.glyphicon {
  color: black;
}
.carousel-control.right,
.carousel-control.left {
  background: none;
}
.carousel-indicators {
  bottom: 0;
}
.carousel-indicators .active {
  background-color: #25333b;
}
.carousel-indicators li {
  border: 1px solid #25333b;
}


